*{
    scroll-behavior: smooth;
}
body{
   background-image: url(./images/pexels-cátia-matos-1072179.jpg) ;
   background-size: cover;
   height: 100vh;
}
.navbar-nav{
    margin-left: auto;
    
}

#about{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(213, 213, 213, 0.626);
    border-radius: 8px;
    font-size: 22px;
    text-align: justify;
    line-height: 28px;
    padding: 18px;
    font-family: 'Nunito', sans-serif;


}

.about{
    padding-top: 100px;
}
.projects{
background-image: linear-gradient(to right, #ffd89b,#19547b);
background-size: cover;
    margin-top: 110px;
}
#notes{
    font-size: 22px;
}